<footer class="mt-5 py-5 bg-primary">
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="m-0 text-center text-white">
          Copyright &copy; - Grupo78 2020 &#128640;
        </p>
      </div>
    </div>
  </div>
  <!-- /.container -->
</footer>
  
</body>
</html>
  